.form {
    padding: 25px 20px;

    &--color-inversion {
        .form__input {
            color: $white;
            background-color: $black;
            border-bottom: 1px solid rgba($white, 0.2);

            &:hover,
            &:focus-visible {
                border-bottom: 1px solid rgba($white, 0.8);
            }
        }

        .form__submit-btn {
            color: $black;
            background-color: $white;
        }
    }

    &__fieldset {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        border: none;
    }

    &__title {
        margin-inline: auto;
        margin-bottom: 75px;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }

    &__input-wrapper {
        position: relative;

        &:not(:first-of-type) {
            margin-top: 30px;
        }
    }

    &__input {
        width: 100%;
        min-height: 27px;
        border: none;
        border-bottom: 1px solid rgba($black, 0.2);
        outline: none;

        &:hover,
        &:focus-visible {
            border-bottom: 1px solid rgba($black, 0.8);
        }

        &--invalid {
            color: $error;
            border-bottom: 1px solid $error;

            + .form__input-error {
                padding: 2px;
                transform: translateY(0);
            }
        }
    }

    &__input-error {
        position: absolute;
        width: 100%;
        color: $white;
        background-color: $error;
        border-radius: 0 0 5px 5px;
        transform: translateY(0);
        transition: transform 0.3s ease;
    }

    &__submit-btn {
        width: 100%;
        min-height: 46px;
        margin-top: 45px;
        padding-block: 14px;
        border: none;
        outline: none;
        color: $white;
        background-color: $black;
        border-radius: 2px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.8;
        }

        &:disabled,
        &[disabled],
        &--disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }
    }
}
