@import '../../styles/shared';

.pageWrapper {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $white;
    background-color: $black;
}

.container {
    padding: 38px 20px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 360px;
    text-align: center;
}

.form-link {
    color: $white;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.6;
    }
}

@media screen and (min-width: $desktop-width) {

    .container {
        width: 880px;
        margin-inline: auto;
        padding-inline: 0;
    }
}