@import '../../styles/shared';

.container {
    padding: 38px 20px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 360px;
    text-align: center;
}

.form-link {
    color: $white;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.6;
    }
}

@media screen and (min-width: $desktop-width) {

    .container {
        max-width: 880px;
        margin-inline: auto;
        padding-inline: 0;
    }
}