.header {
    min-height: 84px;

    &__container {
        padding-inline: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $grey;
    }

    &__logo {
        margin-block: 28px 32px;

        path {
            fill: $white;
        }
    }

    &__login-info {
        display: flex;
        gap: 24px;
        font-size: 18px;
        line-height: 22px;
    }

    &__email {
        margin: 0;
        font-weight: 500;
    }

    &__link {
        color: $white;

        &:hover,
        &:focus,
        &:active {
            opacity: 0.6;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .header {
        min-height: 120px;

        &__container {
            max-width: 880px;
            margin-inline: auto;
            padding-inline: 0;
        }

        &__logo {
            width: 142px;
            height: 33px;
            margin-block: 45px 41px;
        }
    }
}
