@import '../../styles/shared';

.profile {
    margin-bottom: 36px;
}

@media screen and (min-width: $desktop-width) {
    .profile {
        margin-block: 40px 50px;
    }

    .cardList {
        margin-bottom: 30px;
    }
}