@import '../../styles/shared';

.mainPage {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $white;
    background-color: $black;
}

.profile {
    margin-bottom: 36px;
}

@media screen and (min-width: $desktop-width) {
    .profile {
        margin-block: 40px 50px;
    }

    .cardList {
        margin-bottom: 30px;
    }
}