.footer {
    padding-block: 24px 36px;
    margin-top: auto;

    &__container {
        padding-inline: 20px;
    }

    &__copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $grey;
    }
}

@media screen and (min-width: $desktop-width) {
    .footer {
        padding-block: 37px 60px;

        &__container {
            max-width: 880px;
            margin-inline: auto;
            padding-inline: 0;
        }
    }
}
